<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <el-alert
            title="使用提示"
            type="info"
            description="生成表结构体，在导出文件前确保是否有此数据库"
            :closable="false"
            :center="true"
            show-icon>
    </el-alert>
    <div class="container">
        <el-form status-icon :rules="rules" ref="form" :model="form" label-width="100px"  class="demo-ruleForm">
            <el-form-item label="数据库用户名" prop="username">
                <el-input v-model="form.username" placeholder="请输入数据库用户名"></el-input>
            </el-form-item>
            <el-form-item label="数据库密码" prop="password">
                <el-input v-model="form.password" placeholder="请输入数据库密码" show-password></el-input>
            </el-form-item>
            <el-form-item label="数据库名称" prop="databaseName">
                <el-input v-model="form.databaseName" placeholder="请输入数据库名"></el-input>
            </el-form-item>
            <el-form-item label="主机号" prop="hostname">
                <el-input v-model="form.hostname" placeholder="请输入主机号"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="exportExcel('form')">导出excel</el-button>
                <el-button type="primary" @click="exportWord('form')">导出Word</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
</html>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            var validateUserName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('数据库用户名不能为空！'));
                }
                setTimeout(()=>{
                    if (this.form.hostname !== '') {
                        this.$refs.form.validateField('hostname');
                    }
                    callback();
                },1000)
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('数据库密码不能为空！'));
                }
                setTimeout(()=>{
                    if (this.form.hostname !== '') {
                        this.$refs.form.validateField('hostname');
                    }
                    callback();
                },1000)
            };
            var checkDatabaseName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('数据库名称不能为空！'));
                }
                setTimeout(()=>{
                    if (this.form.hostname !== '') {
                        this.$refs.form.validateField('hostname');
                    }
                    callback();
                },1000)
            };
            var validateHostname = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('主机号不能为空！'));
                }
                setTimeout(()=>{
                    if (this.form.hostname !== '') {
                        this.$refs.form.validateField('hostname');
                    }
                    callback();
                },1000)
            };
            return {
                form: {
                    username:'',
                    password:'',
                    databaseName:'',
                    hostname:''
                },
                rules: {
                    username: [
                        { validator: validateUserName, type: 'String', trigger: 'blur' }
                    ],
                    password: [
                        { validator: validatePass,type: 'String', trigger: 'blur' }
                    ],
                    databaseName: [
                        { validator: checkDatabaseName,type: 'String', trigger: 'blur' }
                    ],
                    hostname: [
                        { validator: validateHostname,type: 'String', trigger: 'blur' }
                    ],
                }
            }
        },
        methods: {
            exportExcel(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            method:'POST',
                            url: '/generate/generateExcel',
                            responseType: 'blob',
                            data: this.form,
                        }).then(res =>{
                            let blob = new Blob([res.data], {
                                type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
                            })
                            let contentDisposition = res.headers['content-disposition'] //从response的headers中获取filename, 后端response.setHeader("Content-disposition", "attachment; filename=xxxx.docx") 设置的文件名;
                            let patt = new RegExp('filename=([^;]+\\.[^\\.;]+);*')
                            let result = patt.exec(contentDisposition)
                            let thename = decodeURI(result[1]) //使用decodeURI对名字进行解码
                            let downloadElement = document.createElement('a')
                            let href = window.URL.createObjectURL(blob) //创建下载的链接
                            downloadElement.style.display = 'none'
                            downloadElement.href = href
                            downloadElement.download = thename //下载后文件名
                            document.body.appendChild(downloadElement)
                            downloadElement.click() //点击下载
                            document.body.removeChild(downloadElement) //下载完成移除元素
                            window.URL.revokeObjectURL(href) //释放掉blob对象

                        }).catch(err =>{
                            console.log(err)
                        })
                    } else {
                        this.$message({
                            message: '请将信息填写完整！',
                            type: 'warning'
                        });
                        return false;
                    }
                });
            },
            exportWord(formName){
                console.log("导出word！")
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            method:'POST',
                            url: '/generate/generateWord',
                            responseType: 'blob',
                            data: this.form,
                        }).then(res =>{
                            let blob = new Blob([res.data], {
                                type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document;charset=utf-8'
                            })
                            let contentDisposition = res.headers['content-disposition'] //从response的headers中获取filename, 后端response.setHeader("Content-disposition", "attachment; filename=xxxx.docx") 设置的文件名;
                            let patt = new RegExp('filename=([^;]+\\.[^\\.;]+);*')
                            let result = patt.exec(contentDisposition)
                            let thename = decodeURI(result[1]) //使用decodeURI对名字进行解码
                            let downloadElement = document.createElement('a')
                            let href = window.URL.createObjectURL(blob) //创建下载的链接
                            downloadElement.style.display = 'none'
                            downloadElement.href = href
                            downloadElement.download = thename //下载后文件名
                            document.body.appendChild(downloadElement)
                            downloadElement.click() //点击下载
                            document.body.removeChild(downloadElement) //下载完成移除元素
                            window.URL.revokeObjectURL(href) //释放掉blob对象

                        }).catch(err =>{
                            console.log(err)
                        })
                    } else {
                        this.$message({
                            message: '请将信息填写完整！',
                            type: 'warning'
                        });
                        return false;
                    }
                });
            }
        }
    })
</script>
<style>
    .container{
        width: 70%;
        margin: 15px auto;
    }
</style>