package ${packageName}.controller;

import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.servlet.http.HttpServletResponse;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
#if($className.split('_').size() > 1 )
    #set($ClassName=${className.split("_")[1].substring(0,1).toUpperCase()} + ${className.split("_")[1].substring(1)})
#else
    #set($ClassName=${className.substring(0,1).toUpperCase()} + ${className.substring(1)})
#end
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;
@RestController
@RequestMapping("/${ClassName.toLowerCase()}")
public class ${ClassName}Controller {

    @Autowired
    private I${ClassName}Service ${className}Service;


#foreach ($field in $fields)
    #if(${field.primaryKey})
    /**
     * 根据主键ID查询
     */
    @GetMapping("/get/{${field.fieldName}}")
    public ${ClassName} select${ClassName}By${field.fieldName}(@PathVariable ${field.fieldType} ${field.fieldName}) {
        return ${className}Service.select${ClassName}By${field.fieldName}(${field.fieldName});
    };
    #end
#end

    /**
     * 查询所有
     */
    @GetMapping("/getAll")
    public List<${ClassName}> get${ClassName}List() {
        return ${className}Service.get${ClassName}List();
    };

    /**
     * 添加
     */
    @PostMapping("/add")
    public int add${ClassName}(@RequestBody ${ClassName} ${ClassName.toLowerCase()}) {

        return ${className}Service.add${ClassName}(${ClassName.toLowerCase()});
    }

#foreach ($field in $fields)
#if(${field.primaryKey})
    /**
     * 删除
     */
    @DeleteMapping("/remove/{${field.fieldName}}")
    public int delete${ClassName}By${field.fieldName}(@PathVariable ${field.fieldType} ${field.fieldName}) {

        return ${className}Service.delete${ClassName}By${field.fieldName}(${field.fieldName});

    };

    /**
     * 修改
     */
    @PutMapping("/update/{${field.fieldName}}")
    public int update${ClassName}By${field.fieldName}(@PathVariable ${field.fieldType} ${field.fieldName}) {
        return ${className}Service.update${ClassName}By${field.fieldName}(${field.fieldName});
    };
#end
#end
}
