package ${packageName}.service.impl;
import java.util.List;
import java.util.Objects;

import com.nut.utils.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;

#if($className.split('_').size() > 1 )
    #set($ClassName=${className.split("_")[1].substring(0,1).toUpperCase()} + ${className.split("_")[1].substring(1)})
#else
    #set($ClassName=${className.substring(0,1).toUpperCase()} + ${className.substring(1)})
#end

@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service {

    @Autowired
    private ${ClassName}Mapper ${className}Mapper;


#foreach ($field in $fields)
    #if(${field.primaryKey})
    /**
     * 根据主键ID查询
     */
    @Override
    public ${ClassName} select${ClassName}By${field.fieldName}(${field.fieldType} ${field.fieldName}) {
        return ${className}Mapper.select${ClassName}By${field.fieldName}(${field.fieldName});
    };
    #end
#end

    /**
     * 查询所有
     */
    public List<${ClassName}> get${ClassName}List() {
        return ${className}Mapper.get${ClassName}List();
    };

    /**
     * 添加
     */
    public int add${ClassName}(${ClassName} ${ClassName.toLowerCase()}) {

        return ${className}Mapper.add${ClassName}(${ClassName.toLowerCase()});
    }

#foreach ($field in $fields)
    #if(${field.primaryKey})
    /**
     * 删除
     */
    public int delete${ClassName}By${field.fieldName}(${field.fieldType} ${field.fieldName}) {

        return ${className}Mapper.delete${ClassName}By${field.fieldName}(${field.fieldName});

    };

    /**
     * 修改
     */
    public int update${ClassName}By${field.fieldName}(${field.fieldType} ${field.fieldName}) {
        return ${className}Mapper.update${ClassName}By${field.fieldName}(${field.fieldName});
    };
    #end
#end
}
